WaterTestStation/UsbRelay/bin
WaterTestStation/UsbRelay/obj
WaterTestStation/WaterTestStation/bin
WaterTestStation/WaterTestStation/obj
WaterTestStation/packages/
Resources/
dbBackup.bak
*.mdf
*.ldf
WaterTestStation/obj/
WaterTestStation/bin
Research/EIS Book.pdf
Documents/~$$CircuitDiagram-v2.~vsd
Documents/~$$CircuitDiagram-v3.~vsd
Documents/~$$CircuitDiagram-v2.~vsd
SQL_Server_DB_FILES/dbBackup.zip
SQL_Server_DB_FILES/dbBackup.zip
Documents/~$$*
SQL_Server_DB_FILES/dbBackup.zip
